.plava{
    width: 500px;
    height: 300px;
    background-color: navy;
    position: relative;
}
.bijela_h{
    width: 500px;
    height: 75px;
    background-color: whitesmoke;
    position:absolute;
    top: 100px;
}
.bijela_v{
    height: 300px;
    width: 75px;
    background-color: whitesmoke;
    position: absolute;
    left: 110px;
}
.crv_h{
    height: 300px;
    width: 30px;
    background-color: red;
    position: absolute;
    left:  132px;
    z-index: 10;
}
.crv_v{
    width:500px;
    height:30px;
    background-color: red;
    position: absolute;
    top: 122px;
    z-index: 2;
}

.trokut{
    width: 0; height: 0;
    position: absolute;
    border-left: 200px solid black;
    border-top: 150px solid transparent;
   border-bottom: 150px solid transparent;
}
.plava2{
    width: 500px;
    height: 300px;
    background-color: rgb(0, 171, 171);
    position: relative;
}
.zuta{
    width: 500px;
    height: 100px;
    background-color: rgb(255, 213, 0);
    position: absolute;
    top: 100px;
}

.crvena{
    width: 500px;
    height: 300px;
    background-color: rgb(191, 0, 0);
    position: relative;
}
.bijela{
    width: 100px;
    height: 300px;
    background-color: whitesmoke;
    position: absolute;
}
.trokut2{
    width: 0; height: 0;
    position: absolute;
    border-left: 70px solid whitesmoke;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    left: 100px;
    z-index: 3;
}
.trokut3{
        width: 0; height: 0;
    position: absolute;
    border-left: 70px solid whitesmoke;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    left: 100px;
    top: 61px;
    z-index: 3;
}
.trokut4{
            width: 0; height: 0;
    position: absolute;
    border-left: 70px solid whitesmoke;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    left: 100px;
    top: 121px;
    z-index: 3;
}
.trokut5{
            width: 0; height: 0;
    position: absolute;
    border-left: 70px solid whitesmoke;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    left: 100px;
    top: 182px;
    z-index: 3;
}
.trokut6{
            width: 0; height: 0;
    position: absolute;
    border-left: 70px solid whitesmoke;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    left: 100px;
    top: 240px;
    z-index: 3;
}