  
.plava{
    width: 400px;
    height: 300px;
    background-color: #1C204E;
    position: relative;
    z-index: 20;
}

.pk2{
      width:20px;
    height: 60px;
    background:#1C204E;
    position: absolute;
    left: 100px;
    bottom: 45px;
  
}
.pk1{

    width:20px;
    height: 60px;
    background: #1C204E;
    position: absolute;
    left: 20px;
    bottom: 45px;
}
.bijeli{
    width:142px;
    height:142px;
    background:#FEF7F5;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    bottom: 30px;
}
    
  .div {
    width: 200px;
    height: 200px;
    background: #E7772F;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 41px;
  }
  .border{
    width: 500px;
    height: 300px;
    background-color: white;
    border: solid black;
    position: relative;
  }

  .pp{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
    top: 50px;
  }
  .pp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

  }
.ip{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 200px;
}
.opis{
    position: absolute;
    top: 50px;
    left: 150px;
}
.mail{
    position: absolute;
    top: 100px;
    left: 150px;
}
.facebook img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 175px;
    left: 150px;
    border-radius: 20%;
}
.instagram img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 175px;
    left: 300px;
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
